body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    background-image: url(https://source.unsplash.com/1600x900/?city);
    font-family: 'Rubik', sans-serif;
}

.card {
    background: slategray;
    padding: 4em;
    border-radius: 20px;
    width: auto;
    max-width: 400px;
    margin: auto;
    font-family: inherit;
    position: absolute;
    top: 1%;
    opacity: 80%;


}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    background: whitesmoke;
    font-family: inherit;
    display: inline-block;
}


input.search-bar {
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 30px;
    background: whitesmoke;
    font-family: inherit;
    font-size: 100%;
    opacity: none;
    color: rgb(6, 6, 6);
}

.card1 {
    background: slategray;
    padding: 1em;
    border-radius: 20px;
    width: 380px;
    max-width: 400px;
    margin: auto;
    font-family: inherit;
    position: absolute;
    bottom: 1%;
}

.forecast-button {
    margin-top: 300px;
    border: none;
    outline: none;
    padding: 1em;
    bottom: 10%;
    border-radius: 25px;
    background: whitesmoke;
    font-family: inherit;
    color: rgb(6, 6, 6);
}